#body_home {
   display: block;
}



#body_posts {
   display: grid;

   grid-template-columns: 25% 75%;
}

#posts_index {
   position: relative;

   grid-columns: 1;
}

#posts_body {
   position: relative;

   grid-columns: 2;
}
