/* body.css
Controls the body contents of each of the different subsections */
.body_container {
   display: none;

   height: 100%;
}



/* Individual subsections corresponding to each of the menu buttons */
#body_home {
   display: block;

   text-align: justify;

   overflow-y: auto;
}

#body_posts {
   grid-template-columns: 25% 75%;
}

#body_projects {
   grid-template-columns: 25% 75%;
}

#body_resume {
   height: 100%;

   overflow-y: none;
}
