.body_container {
   display: none;

   height: 100%;
}

#body_home {
   display: block;

   text-align: justify;

   overflow-y: auto;
}



#body_posts {
   grid-template-columns: 25% 75%;
}



#body_projects {
   grid-template-columns: 25% 75%;
}
