html {
   width: 100%;
   height: 100%;
}

body {
   width: calc(100% - 16px);
   height: calc(100% - 16px);

   margin: 8px;

   background-color: #1a1a1a;
   color: #dddddd;

   cursor: default;

   font-family: Palatino Linotype;

   overflow: hidden;
}

.pageframe {
   width: 100%;
   height: 100%;
}

#frame_welcome {
   user-select: none;
   display: none;                         /* Remove this later */
}

#frame_main {
   display: block;                        /* Remove this later */
}

#welcome_container {
   position: relative;

   width: min-content;
   height: min-content;

   margin: auto;
   top: calc(40% - 16px - 2em);
}

#welcome_msg {
   position: relative;

   font-size: 4em;
   text-shadow: 8px 8px #101010;
   white-space: nowrap;
}

.joke_btn {
   position: absolute;
   width: min-content;

   padding: 4px;
   padding-left: 12px;
   padding-right: 12px;

   font-size: 2em;
   font-weight: bold;

   background-color: #334269;
   border: 2px #5470b8 solid;
   border-radius: 4px;

   box-shadow: 4px 4px #111111;

   cursor: default;

   display: none;
}

.joke90 {
   transform: rotate(90deg);
   transform-origin: 0% 100%;
}

#joke1 {
   position: absolute;

   top: calc(56% - 16px - 2em);
   left: calc(50% - 8px - 2px - 12px); /* page margin, border, and padding */

   display: block;
}

#joke8 {
   cursor: pointer;
}
