#frame_main {
   display: grid;

   width: 100%;

   grid-template-columns: 3;
   grid-template-rows: 3;

   grid-template-rows: min-content auto min-content;
   grid-template-columns: 15% 70% 15%;
}



#shelf_wrapper {
   position: relative;

   grid-row: 1;
   grid-column: 1 / 4;
}

#shelf {
   position: relative;
   display: grid;

   width: 100%;

   columns: 2;
   grid-template-columns: 25% 75%;

   user-select: none;
}

.shelfglow {
   box-shadow: 0px 1px gray;

   cursor: pointer;
}

#name {
   grid-column: 1;
   grid-row: 1;
}

#menu {
   display: grid;

   grid-template-columns: 33% 33% 33%;
   grid-column: 2;
   grid-row: 1;
}

#name {
   box-shadow: 0px 1px white;
}

#name_inner {
   position: relative;

   font-size: 2.5em;
   text-align: center;
   white-space: nowrap;
}

.menu_btn_container {

}

.menu_btn {
   position: relative;
   display: block;

   bottom: calc(-100% + 1.5em);
   height: min-content;

   font-size: 1.75em;
   color: #bbbbbb;
   text-align: center;
}



#body_wrapper {
   position: relative;

   margin-top: 2em;

   grid-row: 2;
   grid-column: 2;
}



.pad {
   grid-row: 2;
}

#pad_left {
   grid-column: 1;
}

#pad_right {
   grid-column: 3;
}



#footer {
   position: relative;
   display: grid;

   margin: -8px;
   margin-top: 0px;

   padding: 1em;

   grid-column: 1 / 4;
   grid-row: 3;

   grid-template-columns: min-content flex min-content;

   background-color: #2a2a2a;

   font-size: 0.8em;
}
