#project_posts {
   display: grid;

   grid-template-columns: min-content 0.5em auto;

   grid-gap: 0.5em;
}

#project_index {
   display: grid;

   grid-column: 1;

   grid-template-rows: repeat(10, min-content);
}

.project_entry {
   width: 100%;
   height: min-content;

   white-space: nowrap;

   line-height: 1.1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   padding-left: 0.5em;
   padding-right: 0em;

   margin-top: 0.2em;
   margin-bottom: 0.2em;

   user-select: none;
}

.project_btn {
   cursor: pointer;

   box-shadow: 0px 1px white;
}

#project_index_header {
   font-weight: bold;

   box-shadow: 0px 2px white;

   margin-bottom: 0.5em;
}

.project_header {
   float: left;

   font-size: 2em;
   font-weight: bold;

   width: 100%;

   margin-bottom: 0em;
}

.project_pitch {
   float: left;

   font-style: italic;

   width: 100%;
}

.project_body {
   text-align: justify;
}

.project_article {
   display: none;
}

#project_CHK {
   display: block;
}
