/* Persistent elements */
body {
   background-color: black;
   
   margin: 0px;

   font-family: -system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
   font-size: 1.1em;
   line-height: 1.5em;
   color: white;
   text-align: justify;

   overflow-y: auto;
}



/* Menu */
#menu {
   position: sticky;
   display: grid;

   grid-template-columns: 1fr 0.1em 1fr 0.1em 1fr 0.1em 1fr;
   grid-template-rows: min-content;

   margin: 0px;
   padding-top: 0.5em;
   padding-bottom: 0.5em;

   font-size: 1.3em;

   vertical-align: middle;

   user-select: none;
   
   top: 0px;

   background-color: rgba(0,0,0, 0.8);

   z-index: 999;
}

.menu_btn {
   color: white;
   text-decoration: none;
   
   text-align: center;

   white-space: nowrap;

   cursor: pointer;

   transition: all 0.1s ease-out;
}

.menu_btn:hover {
   text-shadow: 0px 0px 0.4em white;
   letter-spacing: 0.03em;

   font-size: 1.03em;
}

.menu_separator {
   width: 0px;
   border: 1px solid white;

   height: 1.5em;
}



/* Main chunks */
.main-wrapper {
   height: 100vh;

   background-color: black;

   overflow-x: hidden;

   perspective: 4px;
}

.section {
   position: relative;

   height: 50vh;

   transform-style: preserve-3d;
}



/* Parallax scrolling classes */
.parallax::after {
   content: " ";

   position: absolute;

   background-size: 100%;

   width: 100vw;
   height: 100%;

   left: 50%;
   margin-left: -50vw;

   z-index: -99;
}

#logo {
   position: absolute;

   left: 50%;
   margin-left: -400px;

   top: 5%;
}

.bg1::after {
   background-image: url("../media/bg1.png");
   background-repeat: no-repeat;

   transform: translateZ(-4px) translateY(3.2em) scale(2);
   -moz-transform: translateZ(-4px) translateY(3.2em) scale(2);
   transform-origin: bottom;

   z-index: -99;
}

.static {
   display: relative;

   background-color: #222222;

   height: min-content;

   padding-top: 1em;
   padding-bottom: 1em;

   margin-top: -3px;
}



/* ABOUT block */
#about {
   display: grid;
   position: relative;

   grid-template-columns: 10% min-content auto 10%;
   grid-template-rows: min-content;

   z-index: 5;
}

#about-inner {
   display: grid;

   height: 300px;

   margin-left: 1.5em;
   
   grid-template-rows: auto min-content auto;
   grid-auto-flow: row;
}

#about-inner h1 {
   font-weight: lighter;

   font-size: 2em;
}

#about-text {
   padding-left: 1.5em;
}

#about-bg-1 {
   position: absolute;
   display: block;

   transform: translateX(-337px);

   z-index: -1;
}

#about-bg-1 #rect {
   width: 310px;
   height: 310px;

   transform: rotate(15deg);

   background-color: gray;
}

#about-bg-2 {
   position: absolute;
   display: block;

   transform: translateX(-337px);

   z-index: -2;
}

#about-bg-2 #rect {
   width: 310px;
   height: 310px;

   transform: rotate(23deg);

   background-color: #333333;
}



/* SAMPLES block */
#samples-wrapper {
   height: 100vh;

   background-image: url("../media/lights-gif.gif");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

   transform-style: flat;
}

#samples {
   position: relative;
   display: grid;

   height: 100%;

   grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
   grid-auto-flow: column;
}

#samples h1 {
   justify-self: center;

   font-weight: lighter;

   font-size: 3em;

   user-select: none;

   text-shadow: 0px 3px 6px black;
}

.sample {
   width: 40vw;
   min-width: 500px;
}

.sample iframe {
   box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.sample-odd {
   float: right;
}

.sample-even {
   float: left;
}




#content2 {
   display: grid;
   position: relative;

   grid-template-columns: 10% auto 10%;

   transform-style: flat;
}